.footer {
    background:$color-darkgray;

    & a {
        color: white;
    }
    &__alt {
        background-color: $color-brand-alt;
        color: white;
        font-size: .9em;
    }

    &__menu {
        text-align: center;
    }
    &__logo {
        & figure {
        width: 150px;
        height: 2.4em;
        margin: 0;
        background: url('/assets/images/logo-autopro.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        }
    }

}
